{:paths ["."]
 :tasks
 {:requires ([build :as b])
  clean
  {:doc  "Remove all build files"
   :task (b/delete-build-files)}
  download
  {:doc  "Download the latest tarball"
   :task (b/download-latest-tarball)}
  build
  {:doc  "Build the deb file"
   :task (do (b/create-build-files)
             (b/build-deb-file))}}}
